.search-container {
  @apply mt-4;
  .default-label {
    @apply title-medium top-4;
  }
  .ais-Hits {
    @apply box-border mt-4;
    .ais-Hits-list {
      @apply text-on-surface title-medium;
      .ais-Hits-item {
        @apply h-14 box-border pl-4 pr-6 flex items-center rounded-[1.75rem] w-full relative overflow-hidden cursor-pointer
          hover:after:w-[200%] hover:after:h-[200%] hover:after:bg-on-surface hover:after:opacity-[.16] hover:after:absolute hover:after:top-[-50%] hover:after:left-[-50%]
        active:after:w-[200%] active:after:h-[200%] active:after:bg-on-surface active:after:opacity-[.24] active:after:absolute active:after:top-[-50%] active:after:left-[-50%];
        .ais-Highlight {
          .ais-Highlight-highlighted {
            @apply bg-primary-container text-on-surface-variant rounded;
          }
          .ais-Highlight-nonHighlighted {
          }
        }
      }
    }
  }
  .ais-Hits--empty {
    &::after {
      content: "哎哦，没有搜索到相关文章; 请重新搜索。";
    }
    @apply h-32;
  }
}
